header {
    width: 100%; /* 幅いっぱいを指定 */
    height: 70px; /* 高さを50pxに指定 */
    background: #CCC; /* 背景色にグレーを指定 */
    padding: 0px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    z-index: 10;


}


body {
    padding-top: 90px;
    margin: 0px;
    padding: 0px;
}

.header-list {
    display: flex;
    justify-content: space-between;

}

.header-logo {
    margin-right: 10px;
}

.search-window {
    margin-right: 10px;
}

.list-login {
    margin-right: 10px;
    margin-left: auto;
    
}

footer {
    width: 100%; /* 幅いっぱいを指定 */
    height: 70px; /* 高さを50pxに指定 */
    background: #CCC; /* 背景色にグレーを指定 */
    padding: 0px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
}

main {
    width: 100%;
    height: 600px;
    background-image: url("https://pro-foto.jp/free/img/images_big/umi0178-022.jpg");
    background-size: cover;
    position: relative;
}

.title {
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    bottom: 150px;
    left: 50px;
    background-color: white;
}

article {
    
}

ul {
    list-style: none;
    display: flex;
    margin: auto 200px;
}

li {
    color: white;
    font-family:serif;
    font-size: 25px;
    margin-right: 20px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 320px;
    background-size: cover;
}

.tokyo {
    background-image: url("https://static.amanaimages.com/imgroom/rf_preview640/10480/10480000713.jpg");
}

.osaka {
    background-image: url("https://blogimg.goo.ne.jp/user_image/35/86/a8c26e627201d4857fbca5770853de4f.jpg");
}

.kyoto {
    background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/n/nicostop1/20210701/20210701010807.jpg");
}

.sapporo {
    background-image: url("https://img.kb-cdn.com/imgviewer/NVpIM2ptOHhYRzVmUk5rM1NrNlFxYVV6enV4aGk2UFRJMmxPckdDUUVNWVJOc25FMktmOWVMa29uM3VxcW1QK214R0RnZVNJOUk4eHdXWkRPN1EvblYxWEdzTndRRmR1eFBJWTNCV2J5VHJwKzFaeUt2Vnc4WklneWwwN0R2WXAvMCsrNWVjZlVXVTRYV1ByODFwUTJsc3NyM3FuMG5Yd0VkdXZSYUFCTDl2QzRiQ3pRZ2lHWExTa1Y4T3FNYjZhclN1anJQcGxqWnpUc0c4Z2xpclkxdz09");
}