/*ヘッダー　フッター*/
header {
    width: 100%; /* 幅いっぱいを指定 */
    height: 70px; /* 高さを50pxに指定 */
    background: black; /* 背景色にグレーを指定 */
    padding: 0px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header-list {
    display: flex;
    justify-content: space-between;

}

.search-window {
    margin-right: 10px;
    color: white;
}

.login {
    border-radius: 5px;
    color: white;
    background-color: #32cd32;
    height: 25px;
    padding: 8px 20px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: auto;
    
}

.new {
    border-radius: 5px;
    color: white;
    background-color: #00bfff;
    height: 25px;
    padding: 8px 20px;
    margin-top: 10px;
}

footer {
    color: white;
    width: 100%; /* 幅いっぱいを指定 */
    height: 70px; /* 高さを50pxに指定 */
    background: black; /* 背景色にグレーを指定 */
    padding: 0px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    margin-top: auto;
}
/*トップページ*/

main {
    width: 100%;
    height: 600px;
    background-image: url("https://pro-foto.jp/free/img/images_big/umi0178-022.jpg");
    background-size: cover;
    position: relative;
}

.title {
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    bottom: 150px;
    left: 50px;
    background-color: white;
}

ul {
    list-style: none;
    display: flex;
    margin: auto 200px;
}

li {
    color: white;
    font-family:serif;
    font-size: 25px;
    margin-right: 20px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 320px;
    background-size: cover;
}

.tokyo {
    background-image: url("https://static.amanaimages.com/imgroom/rf_preview640/10480/10480000713.jpg");
}

.osaka {
    background-image: url("https://blogimg.goo.ne.jp/user_image/35/86/a8c26e627201d4857fbca5770853de4f.jpg");
}

.kyoto {
    background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/n/nicostop1/20210701/20210701010807.jpg");
}

.sapporo {
    background-image: url("https://img.kb-cdn.com/imgviewer/NVpIM2ptOHhYRzVmUk5rM1NrNlFxYVV6enV4aGk2UFRJMmxPckdDUUVNWVJOc25FMktmOWVMa29uM3VxcW1QK214R0RnZVNJOUk4eHdXWkRPN1EvblYxWEdzTndRRmR1eFBJWTNCV2J5VHJwKzFaeUt2Vnc4WklneWwwN0R2WXAvMCsrNWVjZlVXVTRYV1ByODFwUTJsc3NyM3FuMG5Yd0VkdXZSYUFCTDl2QzRiQ3pRZ2lHWExTa1Y4T3FNYjZhclN1anJQcGxqWnpUc0c4Z2xpclkxdz09");
}

article {
    width: 100%;
    height: 400px;
}
/*新規登録画面とログイン画面*/
.sign-up-page {
    border:1px solid #EEE;
    box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    -webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    -moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    text-align: center;
    width: 500px;
    padding: 20px 0px;
    margin: 100px 400px;
}

.new-acount {
    padding: 10px;
}

.label {
    background-color: red;
    color: white;
    border-radius: 3px;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
    margin-right: 10px;
}

.field {
    padding: 10px;
}

.text_field {
    font-size: 15px;
    width: 300px;
    height: 30px;
}

.field_with_errors {
    display:contents
}

.actions {
    margin: 15px 0px;
    border-radius: 5px;
    color: white;
    background-color: #32cd32;
    border: none;
    padding: 7px 120px;
    cursor: pointer;
}
/*ルーム新規登録画面*/
.main-register {
    display: flex;
}

.basic-out {
    border-right: 2px solid #dcdcdc;
}

.basic-ul {
    display: inline;
}

.basic-link {
    color: #1e90ff;
    font-size: 17px;
    margin-left: 30px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-right: 3px solid #1e90ff;
}

.register {
    border:1px solid #EEE;
    box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    -webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    -moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    width: 900px;
    padding: 20px 0px;
    margin: 60px 100px;
}

.room-register {
    margin-top: -10px;
    font-size: 20px;
    
}

.field-out {
    margin: 20px 10px;
    padding: 20px;
    border-bottom: 1px solid #dcdcdc;
    
}

.room-out {
    margin: 0px 10px;
    padding: 0px;
}

.field-in {
    margin-bottom: 10px;
    text-align: left;
    display: flex;
}

.room {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    
}

.label-register {
    font-size: 14px;
    height: fit-content;
    margin-right: 50px;
    background-color: red;
    color: white;
    border-radius: 3px;
    font-weight: bold;
}

.register-text {
    margin-left: 3px;
    font-size: 15px;
    width: 625px;
    height: 30px;
}

.name {
    margin-left: 19px;
}

.introduction {
    height: 100px;
}

.address {
    margin-left: 49px;
}

.actions-registers {
    border-radius: 5px;
    color: white;
    background-color: #32cd32;
    border: none;
    padding: 7px 120px;
    cursor: pointer;
    margin-left: 30px;
}

/*登録済みルーム一覧画面*/
.register-done-main {
    padding: 20px 40px;
}

.register-done {
    font-weight: bold;
    font-size: 20px;
}

table {
    background-color: #f5f5f5;
    border:1px solid #EEE;
    box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    -webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    -moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
}

tr td {
    padding: 0px;
    border: 1px solid #dcdcdc;
}

/*新規予約画面*/
.reserve-new-main {
    display: flex;
    padding: 30px 70px;
    border: 3px solid blue;
}

.reserve-new-in {
    border: 3px solid red;
}

.reserve-new-main-2 {
    display: flex;
    border: 3px solid green;
}

.reserve-image {
    margin: 10px;
}

.reserve-name {
    margin: 10px;
    font-weight: bold;
    font-size: 16px;

}

.reserve-address {
    margin: 10px;
    font-size: 13px;
}

.reserve-introduction {
    padding: 20px 0px;
    border-bottom: 3px solid palevioletred;
    border-top: 3px solid palevioletred;
}

.reserve-new {
    padding: 20px;
    border: 3px solid peru;

}

.reserve-new-input {
    border: 3px solid greenyellow;
}

.reserve-price {
    margin: 10px 0px;
    font-weight: bold;
}

.start-date {
    font-size: 16px;
    height: 30px;
    width: 300px;
    margin: 10px 0px;
}

.end-date {
    font-size: 16px;
    height: 30px;
    width: 300px;
    margin: 10px 0px;
}

.number-people {
    font-size: 16px;
    height: 30px;
    width: 300px;
    margin: 10px 0px;
}

/*全体*/
body {
    padding-top: 90px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.alert-out {
    color: red;
    border: 2px solid red;
    background-color: #ffe4e1;
}

.alert {
    text-align: center;
    font-weight: bold;
    color: red;
}

