<div class="acount-main">
    <div class="acount">
      <ul class="acount-ul">
        <li class="acount-li"><%= link_to "アカウント", accounts_path, class: "acount-link-1" %></li>
        <li class="acount-li-2"><%= link_to "プロフィール", edit_account_path(@users.id) %></li> 
        <!--link_toでeditユーザーのurlを指定して、その指定先にログイン中のデータを全部取得するメソッドを代入した@users変数からidだけを取得している-->
      </ul>
    </div>
  
    <div class="acount-area">
      <div class="acount-area-in">
        <div class="">
          <div>アカウント</div>
        </div>
        <div class="">
          <div>メールアドレス</div>
          <div><%= @users.email %></div>
        </div>
        <div class="">
          <div>パスワード</div>
          <div>***********</div>
        </div>
        <div class=""><%= link_to "編集", edit_user_registration_path %></div>
      </div>
    </div>
  </div>